@charset "UTF-8";

  @import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Delicious+Handrawn&display=swap');

  /*

    para usar a fonte
  font-family: 'Bebas Neue', cursive;
font-family: 'Delicious Handrawn', cursive;
  */

  /* ================  parte de catalogo de filmes ===================*/

*{
  margin: 0;
  padding:0;
  box-sizing: border-box;
  font-family: sans-serif;

}

.catFilmes {
  display: flex;
  padding-top: 20px;
  padding-left:80px;
  padding-right: 100px;
  padding-bottom: 60px;


  align-items: stretch;
  justify-content: space-between;
  height: 10px;
  background-color: #080808;

}

.catFilmes h2 {
  font-family: 'Delicious Handrawn', cursive, sans-serif;
  font-size: 2em;
  color: #fff;
}

#bat  {
  width: 100px;
  height: 50px;

}
 /* ================  Carrossel dos filmes ===================*/
.flexCar{
  display: flex;
  padding: 10px 35px;
  align-items: top ;
  justify-content: center;
  min-height: 100%;
  background-color: #080808;
}

.carrossel{
max-width: 1200px;
position: relative;
}

.carrossel  i{
  height: 46px ;
  width: 46px;
  font-size: 1.8em;

  position: absolute;

  cursor: pointer;
  text-align: center;
  line-height: 46px;
  background: #fff;
  border-radius:  50%;

  top:50%;
  transform: translateY(-50%);
}

.carrossel  i:first-child{
  left: -23px;
}

.carrossel  i:last-child{
  right: -23px;
}


.carrossel .carSlide{
  font-size: 0;
  cursor: pointer;
  overflow: hidden;
  white-space: nowrap;

}

.carSlide img{
height: 380px;
object-fit: cover;
margin-left: 14px;
width: calc(100% / 3);


}

.carSlide img:first-child{
  margin-left: 0;
   
}

/* ==================== Responsividade  carrossel  ======================*/
@media screen  and (max-width: 900px){
  .carSlide  img{
    width: calc(100% / 2);


  }

  #videoLan{
    min-width: 400px;
  }
}

@media screen  and (max-width: 550px){
  .carSlide  img{
    width: 100%;

  }

  #videoLan{
    min-width: 200px;
  }
}


/* ========================= Lançamentos ======================================== */

.lancamento{
  display: grid;
  grid-template-areas: 'titulo  video '
                       'cat video'
                       'sinopse video';
  
  background-color: #BF8D39;
  padding: 50px 100px;

  height: 100vh;
  width: 100vw;
}

#tituloLan{
  grid-area: titulo;

  font-family: 'Bebas Neue', cursive, sans-serif;
  font-size: 3em;
  color: #080808;
}

#categoriaLan{
  grid-area: cat;

  font-family: 'Delicious Handrawn', cursive, sans-serif;
  font-size: 1.4em;
  color: #080808;

}

#sinopseLan{
  grid-area: sinopse;
}

#videoLan{
  grid-area: video;

  background-color: #080808;
  margin: 10px;
  padding: 20px;
  min-width: 600px;
  
  
   padding-bottom: 50%;
   position: relative;
}

#videoLan > iframe{
  position: absolute;
  top: 1%;
  left: 1%;
  height: 100%;
  width: 90%;
}