@charset "UTF-8";

  @import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Delicious+Handrawn&display=swap');

  /*

    para usar a fonte
  font-family: 'Bebas Neue', cursive;
font-family: 'Delicious Handrawn', cursive;
  */

  /* ================  parte de catalogo de filmes ===================*/

*{
  margin: 0;
  padding:0;
  box-sizing: border-box;
  font-family: sans-serif;
}

::-webkit-scrollbar              { 
  width: 12px;
  padding-right: 2px;
  margin-right: 2px ;
background-color: #000000; }
::-webkit-scrollbar-track        { 
  background: #080808; 
  border-radius: 20px;       /* roundness of the scroll thumb */
  border: 3px solid #080808; 
}

::-webkit-scrollbar-thumb        { 
  background-color: #BF8D39;
  border-radius: 20px;       /* roundness of the scroll thumb */
  border: 3px solid #080808; 
 }
 * {
  scrollbar-width: thin;
  scrollbar-color: #BF8D39  #080808;
  
}

body{
  overflow-x: hidden;
  
}
.catFilmes {
  display: flex;
  padding-top: 20px;
  padding-left:80px;
  padding-right: 100px;
  padding-bottom: 60px;


  align-items: stretch;
  justify-content: space-between;
  height: 10px;
  background-color: #080808;

}

.catFilmes h2 {
  font-family: 'Delicious Handrawn', cursive, sans-serif;
  font-size: 2em;
  color: #fff;
}

#bat  {
  width: 100px;
  height: 50px;

}


 /* ================  Carrossel dos filmes ===================*/
.flexCar{
  display: flex;
  padding: 10px 35px;
  align-items: top ;
  justify-content: center;
  min-height: 100%;
  background-color: #080808;
}





.carrossel{
  display: flex;
  height:20rem;
  gap:12px;
  background-color: #080808;

  padding-left: 50px;
  padding-right: 50px;
  padding-bottom: 5px;
  
}

.filmeExibi{
  flex: 1;
  border-radius: 1rem;
  background-position: center;
  background-repeat: no-repeat;
  background-size: auto 100%;
  transition: all .8s cubic-bezier(.25, .4, .45, 1.4);
}
.filmeExibi:hover{
  flex:5;

}

#espaco{background-color: #080808;padding-bottom: 50px;}



/*======================== exibição da info do filme */

.movie {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 30px;
}



.info {
  position: fixed;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 95%;
  max-width: 1300px;
  height: 90%;
  padding: 20px;
  background-color: #080808;
  overflow-y: scroll;
  overflow-x: hidden;
  
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  border-radius: 5px;
  display: none;
  z-index: 1000;

  background-image: url(imgs/logo.jpg);
  background-repeat: no-repeat;
  background-position-x: center;
  background-size: cover;
  background-blend-mode: overlay;
}

.show {
  display: block;
}

.imgInfo{

  width: 50%;
  height: auto;
  cursor: pointer;

  display: block;
  margin: 0 auto;

}

.tituloInfo{
  font-family: 'Delicious Handrawn', cursive, sans-serif;
  font-size: 8em;
  color: #fff;
  text-align: center;
  padding-bottom: 0px;
  margin-bottom: 0;
}

.catInfo{
  font-family: 'Delicious Handrawn', cursive, sans-serif;
  font-size: 1.5em;
  color: #BF8D39;
  text-align: center;
  padding-bottom: 10px;
  padding-top: 0px;
  margin-top: 0px;
}

.sinopseInfo{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
  color: #fff;
  text-align: justify;
  padding: 0px 30px;
}


.close-btn {
  display: block;
  background-color: #BF8D39;
  color: #fff;
  border: none;
  width: 100%;
  height: auto;

  font-size: 1.5em;

  padding: 5px 10px;
  border-radius: 1px;
  cursor: pointer;
  margin: 10px;
}


/* ==================== Responsividade  carrossel  ======================*/
@media screen  and (max-width: 900px){
  .carSlide  img{
    width: calc(100% / 2);


  }


}

@media screen  and (max-width: 550px){
  .carSlide  img{
    width: 100%;

  }

  
}


/* ========================= Lançamentos ======================================== */

.lancamento{
  display: grid;
  grid-template-areas: 'titulo  video '
                       'cat video'
                       'sinopse video';
  
  background-color: #BF8D39;
  padding: 50px 100px;

  height: 100vh;
  width: 100vw;
}

#tituloLan{
  grid-area: titulo;

  font-family: 'Bebas Neue', cursive, sans-serif;
  font-size: 8em;
  text-align: center;
  color: #080808;

  padding-top: 100px;
  margin:0;
}

#categoriaLan{
  grid-area: cat;

  font-family: 'Delicious Handrawn', cursive, sans-serif;
  font-size: 2.0em;
  text-align: center;
  color: #572209;
  margin:0;
  margin-top: -50px;
}

#sinopseLan{
  grid-area: sinopse;

  font-family: sans-serif;
  font-size: 1.4em;
  text-align: justify;
  color: #080808;

  margin:0;
}

#videoLan{
  grid-area: video;

  background-color: #9e7631;
  margin: 10px;
  padding: 20px;
  min-width: 600px;
 
  
  
   padding-bottom: 50%;
   position: relative;
}

#videoLan > iframe{
  position: absolute;
  top: 2%;
  left: 2%;
  height: 96%;
  width: 96%;
}


@media (max-width: 952px){
  .lancamento{
    grid-template-areas: 'titulo  titulo '
    'cat cat'
    'sinopse sinopse'
    'video video';
  }

  #tituloLan{
  
    font-size: 3em;
    
  }
  
  #categoriaLan{
    grid-area: cat;
  
    font-family: 'Delicious Handrawn', cursive, sans-serif;
    font-size: 1.4em;
    color: #080808;
  
  }
  
  #sinopseLan{
    grid-area: sinopse;
  }
  
  #videoLan{
    grid-area: video;
  
    background-color: #9e7631;
    margin: 10px;
    padding: 20px;
    min-width: 600px;
   
    
    
     padding-bottom: 50%;
     position: relative;
  }
  
  #videoLan > iframe{
    position: absolute;
    top: 2%;
    left: 2%;
    height: 96%;
    width: 96%;
  }

}